body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #ec8600;
}

nav a {
    color: #ec8600;
    text-decoration: none;
    margin: 0 10px;
}

nav img {
    width: 6rem;
}

#main {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 34rem;
    display: flex;
    flex-direction: column; /* Alinea las filas una encima de la otra */
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#main h1 {
    font-size: 3rem;
}


#main .card { 
    border: white solid 1px;
    border-radius: 8px;
    margin: 1rem;
    padding: 0rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333;
    color: white;
    width: 15rem;
    height: 12rem;
}


#main .card img { 
    width: 100%;    
    height: 100%;
    object-fit: cover;
}


.radio-card .card .card-header { 
    background-color: #ec8600;
}


.timeline {
    position: relative;
    width: 100%;
    padding: 20px 0;
    list-style: none;
}

.timeline-item {
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin: 0 20px 20px 20px;
    border-left: 2px solid #333;
}

.timeline-item-content {
    position: relative;
    margin-left: 20px;
}

.timeline-item-content p:first-child {
    font-weight: bold;
}



#weather {
    color: black;
}

#weather h1 {
    color: white;
}

.weather-card {
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.weather-icon {
    width: 50px;
}

.list-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.bi {
    color: #ec8600;
    font-size: 8rem;


}


footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #ec8600;
}