body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */

}

/* Ajustes de diseño general */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #ec8600;
}

nav a {
    color: #ec8600;
    text-decoration: none;
    margin: 0 10px;
}

nav img {
    width: 6rem;
}

#main {
    margin-top: 70px; /* Evitar superposición con el nav */
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 0; /* Elimina el padding lateral */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos hijos */
}


/* Ajustar el tamaño del título para pantallas móviles */
#main h1 {
    font-size: 2.5rem;
    text-align: center;
}

/* Diseño de las tarjetas */
#main .card { 
    border: white solid 1px;
    border-radius: 8px;
    margin: 0; /* Eliminar margen */
    padding: 0; /* Mantener el padding en 0 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333;
    color: white;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 12rem;
}

#main .card img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ajuste para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 768px) {
    #main {
        margin-top: 60px;
    }

    /* Cambiar el ancho de las tarjetas para que se ajusten mejor en móviles */
    #main .col-6 {
        width: 50%; /* Dos tarjetas por fila */
        padding: 0.25rem;
    }

    #main h1 {
        font-size: 2rem; /* Reducir tamaño del título en móviles */
    }
}









.modal-radio .modal-dialog {
    max-width: 65%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .modal-radio .modal-dialog {
        max-width: 95%;
    }
}

.modal-radio .modal-content {
    background-color: #343a40;
    color: #ffffff;
}

.modal-radio .close span {
    color: #ffffff;
}

.modal-radio .modal-footer .btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.modal-radio audio {
    background-color: #343a40;
    color: #ffffff;
}

.modal-radio .modal-footer .btn-primary:focus,
.modal-radio .modal-footer .btn-primary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.modal-radio .modal-body img.img-fluid {
    margin-top: 15px;
}


.banner-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.banner-container a {
    display: block; 
    text-align: center; 
}

.banner-container img {
    max-width: 100%; 
    height: auto; 
}




.radio-card .card .card-header { 
    background-color: #ec8600;
}


.timeline {
    position: relative;
    width: 100%;
    padding: 20px 0;
    list-style: none;
}

.timeline-item {
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin: 0 20px 20px 20px;
    border-left: 2px solid #333;
}

.timeline-item-content {
    position: relative;
    margin-left: 20px;
}

.timeline-item-content p:first-child {
    font-weight: bold;
}



#weather {
    color: black;
}

#weather h1 {
    color: white;
}

.weather-card {
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.weather-icon {
    width: 50px;
}

.list-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.bi {
    color: #ec8600;
    font-size: 10rem;
}

@media (max-width: 768px) {
    .bi {
        font-size: 8rem;
    }

    .list-inline {
        gap: 3rem;
    }
}



footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #ec8600;
}





.telebin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 1050; /* Asegúrate de que esté encima de otros elementos */
}





/* Cambia el color de fondo de los controles del reproductor */
.plyr--full-ui .plyr__controls {
    background-color: #363636; /* Color de fondo (puedes cambiarlo a cualquier otro color) */
}

/* Cambia el color de los iconos (botones, controles, etc.) */
.plyr--full-ui .plyr__controls button {
    color: #fff; /* Color de los iconos */
}

