html {
    scroll-behavior: smooth;
  }



body {
    background-color: black; /* Color de fondo negro */
    color: white; /* Color del texto */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Contenedor para la imagen de fondo */
.background-image {
    position: fixed; /* Mantiene la imagen fija en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/pngtree.png'); /* Ruta a tu imagen */
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    opacity: 0.5; /* Ajusta la opacidad de la imagen */
    z-index: -1; /* Envía la imagen detrás del contenido */
}

/* Asegúrate de que los elementos de contenido tengan un z-index mayor */
.container {
    position: relative; /* Permite usar z-index */
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen */
}


/* Ajustes de diseño general */
nav.custom-nav {
    background-color: #333;
    color: #ec8600;
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0;
    width: 100%;
    z-index: 10;
}

nav.custom-nav a {
    color: #ec8600;
    text-decoration: none;
    margin: 0 10px;
}

.navbar-brand img {
    height: 5rem !important;
    width: auto;
}

/* Ajustes para la sección principal (#main) */
#main {
    margin-top: 70px; /* Evitar superposición con el navbar */
    width: 100%; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente */
    min-height: 100vh; /* Ocupa al menos el 100% del viewport */
}

/* Ajustar el tamaño del título para pantallas móviles */
#main h1 {
    font-size: 2.5rem;
    text-align: center;
}

/* Diseño de las tarjetas */
#main .card { 
    border: white solid 1px;
    border-radius: 8px;
    margin: 0; 
    margin-right: 1rem;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #333;
    color: white;
    width: 100%;
    height: 12rem;
}

#main .card img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ajuste para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 768px) {
    #main {
        margin-top: 60px;
    }

    /* Cambiar el ancho de las tarjetas para que se ajusten mejor en móviles */
    #main .col-6 {
        width: 50%; /* Dos tarjetas por fila */
        padding: 0.25rem;
    }

    #main h1 {
        font-size: 2rem; /* Reducir tamaño del título en móviles */
    }
}


/* Ajustes para el mensaje de bienvenida */
.welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente */
    min-height: 100vh; /* Ocupa al menos el 100% del viewport */
}

/* Asegúrate de que en escritorio se muestre todo correctamente */
@media (min-width: 769px) {
    /* Aquí podrías agregar estilos específicos para la versión de escritorio si es necesario */
    #main .row {
        display: flex; /* Muestra las tarjetas en escritorio */
    }

    .welcome-message {
        min-height: auto; /* Asegúrate de que no ocupe toda la altura en escritorio */
    }
}







.modal-radio .modal-dialog {
    max-width: 65%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .modal-radio .modal-dialog {
        max-width: 95%;
    }
}

.modal-radio .modal-content {
    background-color: #343a40;
    color: #ffffff;
}

.modal-radio .close span {
    color: #ffffff;
}

.modal-radio .modal-footer .btn-primary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.modal-radio audio {
    background-color: #343a40;
    color: #ffffff;
}

.modal-radio .modal-footer .btn-primary:focus,
.modal-radio .modal-footer .btn-primary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.modal-radio .modal-body img.img-fluid {
    margin-top: 15px;
}


.banner-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.banner-container a {
    display: block; 
    text-align: center; 
}

.banner-container img {
    max-width: 100%; 
    height: auto; 
}




.radio-card .card .card-header { 
    background-color: #ec8600;
}


.timeline {
    position: relative;
    width: 100%;
    padding: 20px 0;
    list-style: none;
}

.timeline-item {
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin: 0 20px 20px 20px;
    border-left: 2px solid #333;
}

.timeline-item-content {
    position: relative;
    margin-left: 20px;
}

.timeline-item-content p:first-child {
    font-weight: bold;
}



#weather {
    color: black;
}

#weather h1 {
    color: white;
}

.weather-card {
    margin: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.weather-icon {
    width: 50px;
}

.list-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.bi {
    color: #ec8600;
    font-size: 10rem;
}

@media (max-width: 768px) {
    .bi {
        font-size: 8rem;
    }

    .list-inline {
        gap: 3rem;
    }
}



footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: #ec8600;
}





.telebin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 1050; /* Asegúrate de que esté encima de otros elementos */
    margin: 10px 0;
    display: flex;
    align-items: center; /* Centra verticalmente el texto y las barras */
}





/* Cambia el color de fondo de los controles del reproductor */
.plyr--full-ui .plyr__controls {
    background-color: #363636; /* Color de fondo (puedes cambiarlo a cualquier otro color) */
}

/* Cambia el color de los iconos (botones, controles, etc.) */
.plyr--full-ui .plyr__controls button {
    color: #fff; /* Color de los iconos */
}





.animation {
    display: flex;
    margin-right: 5px; /* Espacio entre la animación y el texto */
    height: 20px; /* Altura del contenedor de la animación */
}

.bar {
    width: 5px; /* Ancho de las barras */
    height: 10px; /* Altura inicial de las barras */
    background-color: #ffffff; /* Color de las barras */
    margin: 0 2px; /* Espacio entre las barras */
    animation: heightChange 0.6s infinite alternate; /* Llama a la animación */
}

.bar:nth-child(1) {
    animation-delay: 0s; /* Sin retraso */
}
.bar:nth-child(2) {
    animation-delay: 0.1s; /* Un poco de retraso para la segunda barra */
}
.bar:nth-child(3) {
    animation-delay: 0.2s; /* Un poco de retraso para la tercera barra */
}

@keyframes heightChange {
    0% { height: 10px; } /* Altura inicial */
    50% { height: 20px; } /* Altura máxima */
    100% { height: 10px; } /* Vuelve a la altura inicial */
}



#legalesLink {
    color:#ec8600;
}

